version: '3'
services:
  http:
    image: nginx
    volumes:
      - "./mysite.conf:/etc/nginx/conf.d/000_site.conf"
      - "./app:/code"
    ports:
      - "80:80"
    command: /bin/bash -c "cat /etc/nginx/conf.d/000_site.conf > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    depends_on:
      - php-fpm

  php-fpm:
    build:
      context: ./infrastructure/docker
    volumes:
      - "./app:/code"

  composer:
    image: "composer/composer"
    volumes:
      - "./app:/app"
    command: install --ignore-platform-req=php

  mysqldb:
    image: mysql:${MYSQL_VERSION}
    platform: linux/amd64
    container_name: ${MYSQL_HOST}
    restart: always
    env_file:
      - ".env"
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "8989:3306"
    volumes:
      - "./code/db/mysql:/var/lib/mysql"


